@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@700&display=swap');
/* CSS HEX */
:root{
--royal-blue-dark: #00296bff;
--dark-cornflower-blue: #003f88ff;
--usafa-blue: #00509dff;
--mikado-yellow: #fdc500ff;
--cyber-yellow: #ffd500ff;
}
body {
  background-color: white;
  font-family: "Open san", sans-serif;
  color: var(--mikado-yellow);
  font-weight: normal;
  text-align: center;
}

.card {
  background: white;                         /* White background */
  padding: 30px;                             /* Internal space */
  border-radius: 8px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1); /* Light shadow */
  margin: 15px 0;
}
.container {
  width: 700px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}
h1 {
  font-family: "Raleway", sans-serif;
  color: var(--cyber-yellow);
  background-color: var(--royal-blue-dark);
  padding: 10px;
}

p {
  font-family: "Open San", sans-serif;
  line-height: 30px;
}
ul{
  padding: 0;
}
.img-circle{
  border-radius: 50%;
}
.text-center {
  text-align: center;
}
.footer li{
  display: inline-block;
  padding: 20px;
}
.btn-blue{
  background-color: var(--dark-cornflower-blue);
  padding: 15px 20px;
  border-radius: 5px;
  color: lightcyan;
  text-decoration: none;
  display: inline-block;
  margin: 0 4px;
  transition: 0.5s;
}
.btn-blue:hover{
  background-color: black;
  padding: 20px 30px;
  color: var(--mikado-yellow);
}

.list-inline > li{
  display: inline-block;
  padding: 20px;
}

.list-inline i{
  font-size: 50px;
  color: rgb(230,230,230);
}

.list-inline i:hover {
  color: rgb(17, 0, 255);
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
